{% extends "default.html.twig" %}

{% block titre4 %}
    About US
{% endblock %}


{% block contenu4 %}

    <table  class="table">
        <thead>

        <tr>

            <th scope="col">Type d'offre :</th>
            <th scope="col">Durée en minutes :</th>
            <th scope="col">Prix en euros</th>


        </tr>

        </thead>
        <tbody>
        {% for offre in offres %}

            <tr>

                <td>{{ offre.nom }}</td>
                <td>{{ offre.duree }}</td>
                <td>{{ offre.prix }}</td>


            </tr>
        {% endfor %}
        </tbody>

{% endblock %}