@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body{
    background-color: rgba(243,231,209,1);
    margin-top: 5%;
    font-family: 'Pacifico', cursive;
    color: #4169e1;
}

.texte{
    color: black;
}

.title{
    display: flex;
    font-family: 'Pacifico', cursive;

}

.copy{
    color: black;
}

a{
    color: inherit;
    text-decoration: none;
}

.navbar{
    margin-left: -1.5rem;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: 'Pacifico', cursive;
}

main{
    margin-top: 10%;
    font-family: 'Pacifico', cursive;
    min-height: 60vh;

}

footer{

    bottom: 5%;
    position: relative;
    font-family: 'Pacifico', cursive;
}

.main img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: solid royalblue 10px;
    position: absolute;
    right: 10%;
    top: 30%;
}

.main{

    justify-content: space-around;
}
.form{

    width: 200px;
}
.btnForm{
    background-color: #f3e7d1;
    color: blue;
}