{% extends "default.html.twig" %}

{% block titre3 %}
    Detail
{% endblock %}


{% block contenu3 %}

    <h1>DetailS des Offres</h1>
    <br>
    <p>
    <h3>Débutant :</h3>
    Vestibulum volutpat velit ex, ut condimentum libero sollicitudin a. Fusce non auctor tellus. Donec finibus, quam
    eu volutpat ullamcorper, metus neque iaculis turpis, nec pharetra orci orci a nisl. Curabitur luctus ex sed
    consequat mollis. Aliquam eleifend sed lorem quis tincidunt. Nulla et tortor in enim pharetra faucibus sed
    lobortis felis.
    <br><br>

    <h3>Amateur :</h3>
    Sed sit amet fermentum ex. Curabitur turpis augue, euismod sit amet varius non, tincidunt a
    erat. Nullam mollis enim a erat imperdiet pharetra. Pellentesque gravida sapien eros, ut lacinia nisl bibendum
    quis. In vitae condimentum urna. Suspendisse quam ex, cursus et tempus et, molestie eget magna. Cras vestibulum
    ultrices facilisis.
    <br><br>

    <h3>Expert :</h3>
    Mauris in felis eu justo tincidunt ornare sed sit amet nisi. Aliquam pulvinar nunc ultrices velit sagittis
    interdum. Proin accumsan urna risus, in hendrerit arcu lobortis at. Aenean ultricies nulla at blandit
    sollicitudin. Praesent vel mi vulputate, malesuada libero nec, pretium nisl. Sed rutrum ornare leo. Aenean
    fermentum metus ex, hendrerit mattis arcu ultricies quis. Phasellus ultrices eget lorem et lacinia. Integer
    rhoncus augue sit amet mi luctus euismod. Vivamus fermentum enim vel pharetra pretium.
    <br><br>

    <h3>Elite :</h3>
    Nam sed rutrum tellus, a vulputate tellus. Donec posuere, nulla quis fringilla dictum, elit enim pretium mauris,
    vel tempus risus turpis ut odio. Donec ante nisl, porttitor in massa vitae, eleifend rhoncus tellus. Aliquam
    erat volutpat. Maecenas malesuada ornare scelerisque. Etiam at finibus nunc. Aenean at velit quis turpis
    ullamcorper lobortis. Curabitur egestas vel lacus quis porta. Ut vitae nulla augue.

    </p>

{% endblock %}