<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">

    <title>
        Bucket - {% block titre %} {% endblock %}
    </title>
</head>
<body>
<div class="container">
    <div class="header">
    <img src="{{ asset('/img/logo.png') }}" alt="Symfony" />
    <header><h1>Bucket of water</h1></header>
    </div>
    <nav>Home | Accueil | Contact</nav>
    <main>
        {% block contenu %}
        {% endblock %}
    </main>
    <footer>
        <img src="{{ asset('/img/favicon.png') }}" alt="Symfony" />
        Blog &copy; {{ "now"|date("Y") }}
    </footer>
</div>
</body>
</html>