{% extends "default.html.twig" %}


{% block titre %}
    Bucket
{% endblock %}


{% block contenu %}

<h1> Home </h1>
    <br><br>
    <h4>Bienvenue sur Bucket-Voyance !</h4>
    <br>
    <p>
            Sur notre site, vous pouvez reservez une séance de voyance avec notre youtubeur-ELITE,
        <br>"MaxEstLa" qui se fera un plaisir de répondre à vos atentes en faisant du marabout dans un seau rempli d'eau,
        <br> d'où le "Bucket".
    </p>

    <p>
        N'hésitez pas à consulter notre listes d'offres et le détail des séances dans l'onglet ' "List" et "Detail"
    <br>
    <br>
        Bonne journée à vous !
    </p>




{% endblock %}

