{% extends "default.html.twig" %}


{% block titre %}
    Bucket
{% endblock %}


{% block contenu %}

<h1>BONSOIR !</h1>

    <p>Ceci est un seau rempli de sot ! like antonin mais chut</p>





{% endblock %}

